*{
    box-sizing: border-box;
}
html,body{
    scroll-behavior: smooth;
}
body{
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: center;
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    color: #f2eaec !important;
    background: #A6E1FA;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(45.34deg, #00072D 5.66%, #0A2472 50.01%, #BA7BA1 94.35%);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(45.34deg, #00072D 5.66%, #0A2472 50.01%, #BA7BA1 94.35%);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
    background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}
main{
    flex: 1 0 auto;
}
.form-control,.custom-select{
    background-color: transparent !important;
    color: #f2eaec !important;
}
option{
    color: #00072D !important;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}